header {
   min-height: 100vh;
   background: url('../../assets/Rectangle8.jpg');
   background-size: cover;
   background-position: center;
}

header .wrapper {
    position: relative;
    height: 100vh;

}

header .cta {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 450px;
    border-radius: 20px 20px 0px 0px;
border-top: 4px solid #FFF;
border-right: 4px solid #FFF;
border-left: 4px solid #FFF;
background: rgba(0, 0, 0, 0.50);
backdrop-filter: blur(25px);
padding: 50px 40px;
}

header .cta .course-name {
    font-size: 16px;
font-style: normal;
font-weight: 800;
color: #FFFFFF;
position: relative;
}

header .cta .course-name::after {
    content:"" ;
    position: absolute;
    width: 60px;
    height: 4px;
    background:  #E63946;
    left: 0;
    bottom: -10px;
}

header .cta h1 {
    color: #FFF;
font-family: Alegreya;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 140%;
}

header .cta .demo-btn {
    border-radius: 10px;
    background: #E63946;
    color: #FFF;
    padding:10px 32px;
    color: #FFF;
    font-size: 16px;
    font-weight: 800;
    line-height: normal;
}

/*Tablet version */
@media (max-width: 1040px) {
    header .cta {
        width: 356px;
      height: 280px;
    }
  }
  
  /* Smartphone version */
  
  @media (max-width: 720px) {
    header .cta {
        width: unset;
        right: 32px;
        left: 32px;
    }
    header .cta h1 {
        font-size: 32px;
    }
  }