:root {
    --dark-color : #181e1e;
    --red-color: #E63946
    --pink-color: #FF6864
    --yellow-color: #FFCA28
}

*,
*::after,
*::before { box-sizing: border-box; }

body {
    margin:0 ;
    font-family: "Inter", sans-serif;
}
html {
    scroll-behavior: smooth;
}

.wrapper {  
    max-width: 1024px;
    margin: 0 auto;
}

section {
   color: #fff;
   padding: 128px 80px;
}

section h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    position:relative;
}

section h2::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background: #E63946;
    left: 0;
    bottom: -10px;
}

section h2.light::after {
    background: #ffca28;
}

.blacks {
    background: #000;
}

.dark-gray {
    background: #181e1e
}

.pink {
    background: #FF6864;
}

section .content-container {
    display: flex;
}

.blacks-1 {
    background: #181E1E;
    height: 380px

}

/* Tablet Version */

@media (max-width: 1040px) {
    .wrapper {
      max-width: 694px;
    }
  }
  
  /* Smartphone version */
  
  @media (max-width: 720px) {
    .wrapper {
      padding: 0 32px;
    }
  
    section h2 {
      font-size: 24px;
    }
  
    section h2::after {
      width: 50px;
      bottom: 0;
    }
  }